* {
	box-sizing: border-box;
	background-color: #dedede;
}

h1,
#round-info {
	text-align: center;
}

#round-info {
	color: #d6d6d6;
}

.board {
	height: 300px;
	width: 300px;
	margin: 0 auto;
	font-size: 0;
}

.board div {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 1px solid grey;
}

.red {
	background-color: crimson;
}

.blue {
	background-color: cornflowerblue;
}

button {
	background-color: #FFF;
	padding: 7px 10px;
	border: 1px solid #CCC;
	text-transform: uppercase;
}
